* {
    
    box-sizing: border-box;
    margin: 0px;
}
.button-all, #rest{
    width: 250px;
    height: 60px;
    font-size: 25px;
    color: white;
    background-color: rgb(255, 0, 0);
    border-radius: 10px;
    outline: none;
    border: none;
    margin-bottom: 15px;
    cursor: pointer;
}
.block-all {

    width: 60px;
    border: none;
    text-align: center;
    font-size: 18px;
    color: rgb(255, 255, 255);
    opacity: .5;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    box-shadow: 1px 2px 20px 3px #e9e3e3;
    border-radius: 7px;   
}