* {
    
    box-sizing: border-box;
    margin: 0px;
}
.button-all, #rest{
    width: 250px;
    height: 65px;
    font-size: 25px;
    color: white;
    background-color: #FF9700;
    border-radius: 10px;
    outline: none;
    border: none;
    margin-bottom: 15px;
    cursor: pointer;
    /* transition-duration: 1s;
    transition-timing-function: linear;
    transition-property: transform ; */
}
#rest {
    background-color: red; 
}
#button-6 {
    background-color: #018BBA;
}
#button-6:active {
    transform: none;
}
.button-all:active {
    transform: scale(.98);

}
.block-all {

    width: 60px;
    border: none;
    text-align: center;
    font-size: 18px;
    color: rgb(255, 255, 255);
    opacity: .5;
}
.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px 25px 10px;
    box-shadow: 1px 2px 20px 3px #e9e3e3;
    border-radius: 7px;   
}